<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-info">Oops! Not Found!</h1>
        <p class="lead"> You've reached the end of the internet.</p>
        <hr class="my-4">
        <p>Click This Button to Redirect To Home</p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Movies" role="button">Home</a>
        </p>
    </div>
</div>
