@model Actor

@{
    ViewData["Title"] = "Update Actor";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <p>
                <h1>Update Actor - @Model.FullName</h1>
            </p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">

                @*Form Start*@
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" />
                    </div>

                    <div class="form-group">
                        <label asp-for="ProfilePictureURL" class="control-label"></label>
                        <input asp-for="ProfilePictureURL" class="form-control" required />
                        <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" maxlength="50" min="3" required />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Bio" class="control-label"></label>
                        <input asp-for="Bio" class="form-control" required />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-end" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
                @*Form End*@

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready( =>() {
            let output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureUrl").val();
        })
        $("#ProfilePictureUrl").on("change", =>() {
            let output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}